* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.home_landing{
  /*background: url("hack2.jpg");*/
  background-color: black;
}

.top_sec {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
}
.top_content {
  text-transform: uppercase;
  font-family: monospace;
  color: #bfbebe;
}
img.top_img {
  width: 150px;
  /* height: 150px; */
  padding: 20px;
  border-radius: 50%;
}
.header_brand {
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  font-size: xx-large;
}

.top_content1 {
  padding: 10px;
  font-size: x-large;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: bold;
}
.header_ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_cont_big {
  padding: 20px;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}

.CONTACT_btn {
  text-decoration: none;
  color: white;
  background: #c1431e;
  padding: 10px;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  margin: 46px auto;
  border: none;
  outline: none;
}

img.simp_img {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
}
.top_sec1 {
  background: white;
}

p.top_content1_text {
  margin: auto;
  width: 95%;
}

.list_item_text {
  padding: 15px ;
}

.list_item {
  font-size: large;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f7f7f7;
  border-radius: 10px;
}

.enter_hack {
  padding: 10px;
  color: white;
  background: black;
  width: 100px;
  margin: 5px 0px;
  text-decoration: none;
  text-align: center;
  border:none;
  border-radius: 50px;
  cursor: pointer;
}
.enter_hack_w {
  border:none;
  padding: 10px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  width: 100px;
  margin: 5px 0px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
}

.list_item_black {
  font-size: large;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: black;
  color: white;
  border-radius: 10px;
}


.footer {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

input.enter-message {
  padding: 10px;
  background: none;
  border: 2px solid white;
  margin: 17px 0px;
  color: white;
  outline: none;
  font-size: large;
  border-radius: 20px;
}

textarea.enter-message-text {
  color: white;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  min-height: 250px;
  margin: 30px 0px;
  padding: 20px;
}

button.send_btn {
  background: none;
  border-radius: 50px;
  color: white;
  font-size: larger;
  padding: 20px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
}

.enter-mail {
  color: white;
  font-size: xx-large;
  margin: 20px 0px;
}

.footer-text {
  color: white;
  text-align: center;
  display: flex;
}
.footer-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  justify-content: center;
}
.total-cont {
  width: 100%;
}
.menu_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: white;
  align-content: center;
  justify-content: center;
}
a.menu_link {
  width: 50%;
  text-align: center;
  background: #3f51b5;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  font-size: xx-large;
  text-transform: uppercase;
}
button.menu_link {
  padding: 10px;
  font-size: x-large;
  border: none;
  margin: 10px;
  width: 30%;
  background: #ff5722;
  border-radius: 50px;
  color: white;
}
@media (min-width: 700px) { 
  .total-cont {
    width: 50%;
    margin: auto;
}
.footer {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
 }


